name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    # FIX: Changed to Java 11.
    # The error log explicitly stated that the Android Plugin needs Java 11.
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    # Grant permission to the file inside the Agent folder
    - name: Grant execute permission for gradlew
      working-directory: ./Agent
      run: chmod +x gradlew

    # Run the 'gradlew' script inside the Agent folder
    - name: Build with Gradle Wrapper
      working-directory: ./Agent
      run: ./gradlew build --stacktrace

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: TeleSMS-Agent
        path: Agent/app/build/outputs/apk/debug/app-debug.apk
        
